#add-modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
    .fixed.inset-0.bg-gray-600.bg-opacity-50.hidden.z-40#modal-background
    .relative.p-4.w-full.max-w-2xl.h-full.z-50(class='md:h-auto')
      // Modal content
      .relative.p-4.bg-white.rounded-lg.shadow(class='dark:bg-gray-800 sm:p-5')
        // Modal header
        .flex.justify-between.items-center.pb-4.mb-4.rounded-t.border-b(class='sm:mb-5 dark:border-gray-600')
          h3.text-lg.font-semibold.text-gray-900(class='dark:text-white')
            | Agregar Equipo
          button.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' class='hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-600 dark:hover:text-white' data-modal-toggle='defaultModal')
            svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
            span.sr-only Cerrar modal
        // Modal body
        form(method='POST' action='/crear/equipo')
          .grid.gap-4.mb-4(class='sm:grid-cols-2')
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='aula' class='dark:text-white') Aula
              select#aula.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(name = 'aula_id' class='focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500')
                option(value="") - Seleccione el aula -
                  if aulas.data
                    each aula in aulas.data
                      option(value=aula.id selected= datos.aula ? datos.aula == aula.id ? true : false : null)= aula.nombre 
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='estado' class='dark:text-white') Estado
              select#estado.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(name = 'estado' class='focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500')
                  option(value="") - Seleccione el estado -   
                  option(value="1") Completado   
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='marca' class='dark:text-white') Marca
              input#marca.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='marca' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Nombre la marca' required='')  
          button.text-white.inline-flex.items-center.bg-blue-800.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit' class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')
            svg.mr-1.-ml-1.w-6.h-6(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z' clip-rule='evenodd')
            |  Agregar Equipo
