#add-software-modal.modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
    .fixed.inset-0.bg-gray-600.bg-opacity-50.hidden.z-40#modal-background-add
    .relative.p-4.w-full.max-w-2xl.h-full.z-50(class='md:h-auto')
      // Modal content
      .relative.p-4.bg-white.rounded-lg.shadow(class='dark:bg-gray-800 sm:p-5')
        // Modal header
        .flex.justify-between.items-center.pb-4.mb-4.rounded-t.border-b(class='sm:mb-5 dark:border-gray-600')
          h3.text-lg.font-semibold.text-gray-900(class='dark:text-white')
            | Agregar Software
          button.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' data-action="add" class='hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-600 dark:hover:text-white close-modal-btn')
            svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
            span.sr-only Cerrar modal
        // Modal body
        form(onsubmit="return false;")
          .grid.gap-4.mb-4(class='sm:grid-cols-2')
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='name' class='dark:text-white') Nombre
              input#nombre.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='nombre' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Nombre' required='')      
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='version' class='dark:text-white') Version
              input#version.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='version' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Version' required='')      
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='licencia' class='dark:text-white') Licencia
              input#licencia.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='licencia' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Licencia' required='')      
          .flex.justify-end.mt-4
            button#add.text-white.inline-flex.items-center.font-medium.rounded-lg.text-sm.px-5.text-center(data-entity="software" data-action="add" type='submit' class='bg-[#34531F] hover:bg-[#132F20] focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')
              |  Agregar

#edit-software-modal.modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
    .fixed.inset-0.bg-gray-600.bg-opacity-50.hidden.z-40#modal-background-edit
    .relative.p-4.w-full.max-w-2xl.h-full.z-50(class='md:h-auto')
      // Modal content
      .relative.p-4.bg-white.rounded-lg.shadow(class='dark:bg-gray-800 sm:p-5')
        // Modal header
        .flex.justify-between.items-center.pb-4.mb-4.rounded-t.border-b(class='sm:mb-5 dark:border-gray-600')
          h3.text-lg.font-semibold.text-gray-900(class='dark:text-white')
            | Editar Software
          button.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' data-action="edit" class='hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-600 dark:hover:text-white close-modal-btn')
            svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
            span.sr-only Cerrar modal
        // Modal body
        form(onsubmit="return false;")
          .grid.gap-4.mb-4(class='sm:grid-cols-2')
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='name' class='dark:text-white') Nombre
              input#nombre.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='nombre' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Nombre' required='')      
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='version-edit' class='dark:text-white') Version
              input#version.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='version' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Version' required='')      
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(for='licencia-edit' class='dark:text-white') Licencia
              input#licencia.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(type='text' name='licencia' class='focus:ring-blue-600 focus:border-blue-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='Licencia' required='')      
          .flex.justify-end.mt-4
            button#edit.text-white.inline-flex.items-center.font-medium.rounded-lg.text-sm.px-5.text-center(data-entity="software" data-action="edit" type='submit' class='bg-[#34531F] hover:bg-[#132F20] focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')
              |  Editar

#delete-software-modal.modal.hidden.overflow-y-auto.overflow-x-hidden.fixed.top-0.right-0.left-0.z-50.justify-center.items-center.w-full.h-modal(tabindex='-1' aria-hidden='true' class='md:inset-0 md:h-full')
    .fixed.inset-0.bg-gray-600.bg-opacity-50.hidden.z-40#modal-background-delete
    .relative.p-4.w-full.max-w-2xl.h-full.z-50(class='md:h-auto')
      // Modal content
      .relative.p-4.bg-white.rounded-lg.shadow(class='dark:bg-gray-800 sm:p-5')
        // Modal header
        .flex.justify-between.items-center.pb-4.mb-4.rounded-t.border-b(class='sm:mb-5 dark:border-gray-600')
          h3.text-lg.font-semibold.text-gray-900(class='dark:text-white')
            | Eliminar Software
          button.text-gray-400.bg-transparent.rounded-lg.text-sm.ml-auto.inline-flex.items-center(type='button' data-action="delete" class='hover:bg-gray-200 hover:text-gray-900 p-1.5 dark:hover:bg-gray-600 dark:hover:text-white close-modal-btn')
            svg.w-5.h-5(aria-hidden='true' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' clip-rule='evenodd')
            span.sr-only Cerrar modal
        // Modal body
        form(onsubmit="return false;")
          .grid.gap-4.mb-4(class='sm:grid')
            div
              | Estás seguro de que deseas eliminar este software?
          .flex.justify-end.mt-4
            button#delete.text-white.inline-flex.items-center.font-medium.rounded-lg.text-sm.px-5.text-center(data-entity="software" data-action="delete" type='submit' class='bg-[#6D100A] border-[#6D100A] font-medium rounded-lg text-sm px-5 text-center me-2 mb-2 hover:text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 py-2.5 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 confirm-delete-btn')
              |  Eliminar