extends ../layouts/index
block contenido 
  .grid.grid-cols-1.px-4.text-center(class='xl:grid-cols-1 xl:gap-2 dark:bg-gray-900')
    .mb-4.col-span-full(class='xl:mb-2') 
      h1.text-xl.font-semibold.text-gray-900(class='sm:text-2xl dark:text-white') Configuración de usuario
    if userId && userId.data
      form(method='POST' action=`/usuario/${userId.data.id}`)
        input(type='hidden' name='_method' value='PUT')
        // Right Content
        .col-span-1
          .p-4.mb-4.bg-white.border.border-gray-200.rounded-lg.shadow-sm(class='2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800')
            h3.mb-4.text-xl.font-semibold(class='dark:text-white') Información general
            .grid.grid-cols-6.gap-6
              .col-span-6(class='sm:col-span-3')
                label.block.mb-2.text-sm.font-medium.text-gray-900(for='first-name' class='dark:text-white') Nombres
                input#first-name.shadow-sm.bg-gray-50.border.border-gray-300.text-gray-900.rounded-lg.block.w-full(type='text' name='nombre' value=`${userId.data.nombre}` class='sm:text-sm focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500' placeholder='Nombre' required='')
              .col-span-6(class='sm:col-span-3')
                label.block.mb-2.text-sm.font-medium.text-gray-900(for='email' class='dark:text-white') Email
                input#email.shadow-sm.bg-gray-50.border.border-gray-300.text-gray-900.rounded-lg.block.w-full(type='email' name='email' value=`${userId.data.email}` class='sm:text-sm focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500' placeholder='ejemplo@uts.edu.co' required='')
        .col-span-full(class='xl:col-auto')  
          .p-4.mb-4.bg-white.border.border-gray-200.rounded-lg.shadow-sm(class='2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800')
            h3.mb-4.text-xl.font-semibold(class='dark:text-white') Cambiar contraseña
            .grid.grid-cols-6.gap-6
              .col-span-6(class='sm:col-span-3')
                label.block.mb-2.text-sm.font-medium.text-gray-900(for='pass' class='dark:text-white') Nueva contraseña
                input#pass.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(name='pass' data-popover-target='popover-password' data-popover-placement='bottom' type='password' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' placeholder='••••••••' )       
              .col-span-6(class='sm:col-span-3')
                label.block.mb-2.text-sm.font-medium.text-gray-900(for='confirm-password' class='dark:text-white') Confirmar contraseña
                input#confirm-password.shadow-sm.bg-gray-50.border.border-gray-300.text-gray-900.rounded-lg.block.w-full(type='password' name='confirm-password' class='sm:text-sm focus:ring-primary-500 focus:border-primary-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500' placeholder='••••••••' )
        .flex.justify-end.mt-4
          button.text-white.inline-flex.items-center.bg-blue-800.font-medium.rounded-lg.text-sm.px-5.text-center(type='submit' class='hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800')
            |  Guardar
  script. 
    document.querySelector('form').addEventListener('submit', function(e) {
      e.preventDefault();

      const form = e.target;
      const formData = new FormData(form);

      const password = formData.get('pass');
      const passwordConfirm = formData.get('confirm-password');

      if (password === passwordConfirm) {
          fetch(form.action, {
              method: 'PUT',
              body: new URLSearchParams(formData),
              headers: {
                  'Content-Type': 'application/x-www-form-urlencoded'
              }
          })
          .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              return response.json();
          })
          .then(data => console.log(data))
          .catch(error => console.error('Error:', error));
      } else {
          alert('Las contraseñas deben ser iguales');
      }
    });
