extends ../layouts/index
block contenido 
  h1.text-xl.font-semibold.text-gray-900.text-center(class='sm:text-2xl dark:text-white') Equipos
  .flex.items-center.ml-auto.space-x-2.p-4(class='sm:space-x-3 justify-end')
    button#modal_add.inline-flex.items-center.justify-center.px-3.py-2.text-sm.font-medium.text-center.text-white.rounded-lg.bg-blue-600(data-entity="equipo" data-action="add" type='button'  class='w-1/2 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800')
      svg.w-5.h-5(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z' clip-rule='evenodd')
    a.inline-flex.items-center.justify-center.px-3.py-2.text-sm.font-medium.text-center.text-gray-900.bg-white.border.border-gray-300.rounded-lg(href='#' class='w-1/2 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700')
      svg.w-5.h-5.mr-2.-ml-1(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z' clip-rule='evenodd')
      |                     Exportar
  .flex.flex-col
        .overflow-x-auto.rounded-lg
          .inline-block.min-w-full.align-middle
            .overflow-hidden.shadow(class='sm:rounded-lg')
              .flex.items-center.justify-between.mb-4
                div#table(data-columnas=['Equipo', 'Aula', 'Marca', 'Estado', 'Acciones'] data-filas=['data.id', 'data.aula_id.nombre', 'data.marca', 'data.estado'] data-entity="equipo"  data-datos=equipos.data)
  include ../modals/equipo   