extends ../layouts/index
block contenido
  .px-4.pt-5(class='2xl:px-0')
    .p-4.shadow-sm(class='bg-[#f1f1f1] dark:border-gray-700 sm:p-6 dark:bg-gray-800')
      .items-center.justify-center(class='lg:flex')
        .mb-4(class='lg:mb-0')
          h3.mb-2.text-xl.font-bold.text-gray-900.text-center(class='dark:text-white') Usuarios  
    .hidden.text-green-700.border-green-700.bg-green-800.ring-green-300.border-green-500.text-green-500.bg-green-600.ring-green-900.green-100
    .flex.items-center.ml-auto.space-x-2.p-4(class='sm:space-x-3 justify-end')
      button#modal_add.inline-flex.items-center.justify-center.px-3.py-2.text-sm.font-medium.text-center.text-white.rounded-lg(data-entity="usuario" data-action="add" type='button'  class='w-1/2 bg-[#34531F] hover:bg-[#132F20] focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800')
        svg.w-5.h-5(fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' d='M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z' clip-rule='evenodd')
    .flex.flex-col
        .overflow-x-auto.rounded-lg
          .inline-block.min-w-full.align-middle
            .overflow-hidden.shadow(class='sm:rounded-lg')
              .flex.items-center.justify-between.mb-4
                div#table(data-columnas=['Nombre', 'Email', 'Rol', 'Acciones'] data-filas=['data.nombre', 'data.email', 'data.rol_id.nombre', 'data.activo'] data-entity="usuario"  data-datos=users.data)
  include ../modals/usuarios   