doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/app.css")
        link(href='https://unpkg.com/gridjs/dist/theme/mermaid.min.css' rel='stylesheet')
    body(class="flex flex-col min-h-screen bg-[#f1f1f1]")
        header
            include sideBar                            
        main(class="flex-grow mx-8")
            block contenido
        footer(class="bg-[#132F20] text-[#F8E9D4]")
            include footer 
    script(src="/js/modal.js")
    script(src='https://unpkg.com/gridjs/dist/gridjs.umd.js')
    script(src="/js/table.js")       