aside#sidebar.fixed.top-0.left-0.z-20.flex.flex-col.flex-shrink-0.w-56.h-full.font-normal.duration-75.transition-width(aria-label='Sidebar')
  .relative.flex.flex-col.flex-1.min-h-0.pt-0.bg-white.border-r.border-gray-200(class='dark:bg-gray-800 dark:border-gray-700')
    .flex.flex-col.flex-1.pt-2.pb-4.overflow-y-auto
      .flex-1.px-3.space-y-1.bg-white.divide-y.divide-gray-200(class='dark:bg-gray-800 dark:divide-gray-700')
        ul.pb-2.space-y-2
          li
            button#btn_sidebar.flex.items-center.w-full.text-base.text-gray-900.transition.duration-75.rounded-lg.group(type='button' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700' aria-controls='dropdown-crud' data-collapse-toggle='dropdown-crud')
              svg.w-6.h-6(viewbox='0 0 1024 1024' fill='#000000' version='1.1' xmlns='http://www.w3.org/2000/svg' class='ml-auto')
                path(d='M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z' fill='')
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/dashboard'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                path(d='M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z')
                path(d='M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z')
              span.ml-3(sidebar-toggle-item='') Estadisticas
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/areas'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M10 2a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v2.382l1.447.723.005.003.027.013.12.056c.108.05.272.123.486.212.429.177 1.056.416 1.834.655C7.481 13.524 9.63 14 12 14c2.372 0 4.52-.475 6.08-.956.78-.24 1.406-.478 1.835-.655a14.028 14.028 0 0 0 .606-.268l.027-.013.005-.002L22 11.381V9a3 3 0 0 0-3-3h-2V5a3 3 0 0 0-3-3h-4Zm5 4V5a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v1h6Zm6.447 7.894.553-.276V19a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-5.382l.553.276.002.002.004.002.013.006.041.02.151.07c.13.06.318.144.557.242.478.198 1.163.46 2.01.72C7.019 15.476 9.37 16 12 16c2.628 0 4.98-.525 6.67-1.044a22.95 22.95 0 0 0 2.01-.72 15.994 15.994 0 0 0 .707-.312l.041-.02.013-.006.004-.002.001-.001-.431-.866.432.865ZM12 10a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Area
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/cargos'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M20 10H4v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8ZM9 13v-1h6v1a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1Z' clip-rule='evenodd')
                path(d='M2 6a2 2 0 0 1 2-2h16a2 2 0 1 1 0 4H4a2 2 0 0 1-2-2Z')
              span.ml-3(sidebar-toggle-item='') Cargo    
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/responsables'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M7 2a2 2 0 0 0-2 2v1a1 1 0 0 0 0 2v1a1 1 0 0 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H7Zm3 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-1 7a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3 1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Responsable
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/edificios'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Edificio 
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/aulas'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Aula                   
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/hardware'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M2 7a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V7Zm5.01 1H5v2.01h2.01V8Zm3 0H8v2.01h2.01V8Zm3 0H11v2.01h2.01V8Zm3 0H14v2.01h2.01V8Zm3 0H17v2.01h2.01V8Zm-12 3H5v2.01h2.01V11Zm3 0H8v2.01h2.01V11Zm3 0H11v2.01h2.01V11Zm3 0H14v2.01h2.01V11Zm3 0H17v2.01h2.01V11Zm-12 3H5v2.01h2.01V14ZM8 14l-.001 2 8.011.01V14H8Zm11.01 0H17v2.01h2.01V14Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Hardware 
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/software'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7.414A2 2 0 0 0 20.414 6L18 3.586A2 2 0 0 0 16.586 3H5Zm3 11a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6H8v-6Zm1-7V5h6v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1Z' clip-rule='evenodd')
                path(fill-rule='evenodd' d='M14 17h-4v-2h4v2Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Software 
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/equipos'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' d='M12 8a1 1 0 0 0-1 1v10H9a1 1 0 1 0 0 2h11a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1h-8Zm4 10a2 2 0 1 1 0-4 2 2 0 0 1 0 4Z' clip-rule='evenodd')
                path(fill-rule='evenodd' d='M5 3a2 2 0 0 0-2 2v6h6V9a3 3 0 0 1 3-3h8c.35 0 .687.06 1 .17V5a2 2 0 0 0-2-2H5Zm4 10H3v2a2 2 0 0 0 2 2h4v-4Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Equipo          
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group(href='/registroMantenimientos'  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 5 9 4V3m5 2 1-1V3m-3 6v11m0-11a5 5 0 0 1 5 5m-5-5a5 5 0 0 0-5 5m5-5a4.959 4.959 0 0 1 2.973 1H15V8a3 3 0 0 0-6 0v2h.027A4.959 4.959 0 0 1 12 9Zm-5 5H5m2 0v2a5 5 0 0 0 10 0v-2m2.025 0H17m-9.975 4H6a1 1 0 0 0-1 1v2m12-3h1.025a1 1 0 0 1 1 1v2M16 11h1a1 1 0 0 0 1-1V8m-9.975 3H7a1 1 0 0 1-1-1V8')
              span.ml-3(sidebar-toggle-item='') Mantenimiento        
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group.if.eq(href='/usuarios' settings=''  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {{ $page_slug'  bg-gray-100='' dark:bg-gray-700=''  end='')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                 path(fill-rule='evenodd' d='M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Usuarios
          li
            a.flex.items-center.p-2.text-base.text-gray-900.rounded-lg.group.if.eq(href='/settings' settings=''  relurl='' class='hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 {{ $page_slug'  bg-gray-100='' dark:bg-gray-700=''  end='')
              svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
                 path(fill-rule='evenodd' d='M17 10v1.126c.367.095.714.24 1.032.428l.796-.797 1.415 1.415-.797.796c.188.318.333.665.428 1.032H21v2h-1.126c-.095.367-.24.714-.428 1.032l.797.796-1.415 1.415-.796-.797a3.979 3.979 0 0 1-1.032.428V20h-2v-1.126a3.977 3.977 0 0 1-1.032-.428l-.796.797-1.415-1.415.797-.796A3.975 3.975 0 0 1 12.126 16H11v-2h1.126c.095-.367.24-.714.428-1.032l-.797-.796 1.415-1.415.796.797A3.977 3.977 0 0 1 15 11.126V10h2Zm.406 3.578.016.016c.354.358.574.85.578 1.392v.028a2 2 0 0 1-3.409 1.406l-.01-.012a2 2 0 0 1 2.826-2.83ZM5 8a4 4 0 1 1 7.938.703 7.029 7.029 0 0 0-3.235 3.235A4 4 0 0 1 5 8Zm4.29 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h6.101A6.979 6.979 0 0 1 9 15c0-.695.101-1.366.29-2Z' clip-rule='evenodd')
              span.ml-3(sidebar-toggle-item='') Perfil
    .absolute.bottom-0.left-0.justify-center.w-full.p-4.space-x-4.bg-white(class='lg:flex dark:bg-gray-800' sidebar-bottom-menu='')
      a.inline-flex.justify-center.p-2.text-gray-500.rounded.cursor-pointer(href='/logout' class='hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white') Cerrar sesion
        svg.w-6.h-6.text-gray-800(class='dark:text-white' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewbox='0 0 24 24')
          path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2')
div.mx-8.w-6.h-6.mt-2
  button#sidebarBackdrop.hidden
    svg.w-6.h-6.text-gray-500.transition.duration-75(class='group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white' fill='currentColor' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
      path(stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M5 7h14M5 12h14M5 17h14')

script(src="/js/sidebar.js")