doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/app.css")
    body(class="flex flex-col min-h-screen")
      section.relative.flex.flex-wrap(class='lg:h-screen lg:items-center')
        .w-full.px-4.py-12(class='sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24')
          .mx-auto.max-w-lg.text-center
            h1.text-2xl.font-bold(class='sm:text-3xl') Bienvenido al Sistema de Gestion de Inventarios
          form.mx-auto.mb-0.mt-8.max-w-md.space-y-4(method='POST' action='/login')
            div
              label.sr-only(for='email') Email
              .relative
                input.w-full.rounded-lg.border-gray-200.p-4.pe-12.text-sm.shadow-sm(type='email' name='usuario' placeholder='Ingrese el correo')
            div
              label.sr-only(for='password') Password
              .relative
                input.w-full.rounded-lg.border-gray-200.p-4.pe-12.text-sm.shadow-sm(type='password' name='password' placeholder='Ingrese la contraseña')       
            if error
                .bg-red-100.border.border-red-400.text-red-700.px-4.py-3.rounded-md.shadow-md.text-center
                  p.text-sm= error
            .flex.items-center.justify-between
              button.inline-block.w-full.rounded-lg.text-white.px-5.py-3.text-sm.font-medium(type='submit' class='bg-[#34531F] border-[#132F20]')
                | Ingresar
        .relative.h-64.w-full(class='sm:h-96 lg:h-4/5 lg:w-1/2')
          img.absolute.inset-0.h-full.w-full.object-cover(alt='' src='https://www.uts.edu.co/sitio/wp-content/uploads/2020/08/IMG-20200815-WA0004.jpg')
      footer(class='bg-[#132F20] text-[#F8E9D4]')
        .mx-auto.max-w-screen-xl.px-4.py-8(class='sm:px-6 lg:px-8')
          p.mt-4.text-center.text-sm(class='lg:mt-0 lg:text-center')
              | Copyright &copy; #{new Date().getFullYear()}. All rights reserved.