doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/app.css")
    body(class="flex flex-col min-h-screen")
      section.relative.flex.flex-wrap(class='lg:h-screen lg:items-center')
        .w-full.px-4.py-12(class='sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24')
          .mx-auto.max-w-lg.text-center
            h1.text-2xl.font-bold(class='sm:text-3xl') Bienvenido al Sistema de Gestion de Inventarios
          form.mx-auto.mb-0.mt-8.max-w-md.space-y-4(method='POST' action='/login')
            div
              label.sr-only(for='email') Email
              .relative
                input.w-full.rounded-lg.border-gray-200.p-4.pe-12.text-sm.shadow-sm(type='email' name='usuario' placeholder='Ingrese el correo')
                span.absolute.inset-y-0.end-0.grid.place-content-center.px-4
                  svg.size-4.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207')
            div
              label.sr-only(for='password') Password
              .relative
                input.w-full.rounded-lg.border-gray-200.p-4.pe-12.text-sm.shadow-sm(type='password' name='password' placeholder='Ingrese la contraseña')
                span.absolute.inset-y-0.end-0.grid.place-content-center.px-4
                  svg.size-4.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z')
            .flex.items-center.justify-between
              button.inline-block.w-full.rounded-lg.bg-blue-800.text-white.px-5.py-3.text-sm.font-medium(type='submit')
                | Ingresar
        .relative.h-64.w-full(class='sm:h-96 lg:h-4/5 lg:w-1/2')
          img.absolute.inset-0.h-full.w-full.object-cover(alt='' src='https://www.uts.edu.co/sitio/wp-content/uploads/2020/08/IMG-20200815-WA0004.jpg')
      .mx-auto.max-w-screen-xl.px-4.py-8(class='sm:px-6 lg:px-8')
        p.mt-4.text-center.text-sm.text-gray-500(class='lg:mt-0 lg:text-center')
            | Copyright &copy; #{new Date().getFullYear()}. All rights reserved.